Experian Marketing Services reported that the typical American spends a mean of 144 minutes (2.4 hours) per day accessing the Internet via a mobile device. (Source: The 2014 Digital Marketer, available at ex.pn/1kXJjfX.) In order to test the validity of this statement, you select a sample of 30 friends and family. The results for the time spent per day accessing the Internet via mobile device (in minutes) are stored in InternetMobileTime .


a. Is there evidence that the population mean time spent per day accessing the Internet via mobile device is different from 144 minutes? Use the p-value approach and a level of significance of 0.05.


b. What assumption about the population distribution is needed in order to conduct the t test in (a)?

In [14]:
import numpy as np
import pandas as pd

In [4]:
mydata = pd.read_csv("InternetMobileTime .csv")

In [6]:
mydata.head()

   Minutes
0       72
1      144
2       48
3       72
4       36

In [7]:
mydata.describe()

          Minutes
count   30.000000
mean   175.266667
std    139.836834
min     24.000000
25%     72.000000
50%    144.000000
75%    276.000000
max    576.000000

In [9]:
mydata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 1 columns):
Minutes    30 non-null int64
dtypes: int64(1)
memory usage: 320.0 bytes

In [16]:
#Null Hypothesis - Mean=144
#Alternate Hypothesis - Mean != 144

In [17]:
xbar = mydata.mean()

In [18]:
mu=144

In [19]:
s = mydata.std()

In [20]:
n=30

In [23]:
tstat = (xbar - mu) / (s/np.sqrt(n))

In [24]:
tstat

Minutes    1.224674
dtype: float64

In [26]:
from scipy import stats

p = stats.t.cdf(1.224674, df = 29)

In [29]:
(1 - p)*2

0.23055340448360839